@import "tailwindcss";

:root {
  --font-play: var(--font-play-next);
  --font-poppins: var(--font-poppins-next);
  --font-open-sans: var(--font-open-sans-next);

  --background: #ffffff;
  --foreground: #111827;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans);
}

a {
  text-decoration: none;
}

::selection {
  background: #dbeafe;
  color: #1e3a8a;
}

h1,
h2,
h3 {
  font-family: var(--font-poppins);
}

.logo {
  font-family: var(--font-play);
}